#sing_m
  #sing
    .sprite_iphone.iphone.hidden-sm.hidden-xs
    #pol.col-xs-12.col-md-8
      %p
        Sign Up now and view hundreds of jobs in minutes for free!
      = button_to 'Applicant', "#", :id => "button_applicant", :class => "buto buto_orange"
      %b or
      = button_to 'Employer', "#", :id => "button_employer", :class => "buto buto_blue"
      = email_field_tag "description", "", :placeholder => "email@example.com", :class => 'my_lab'
      = password_field_tag "description", "", :placeholder => "password", :class => 'my_lab'
      = password_field_tag "description", "", :placeholder => "repyte password", :class => 'my_lab'
      = button_to 'Sing up', "#", :id => "button_singup", :class => "buto buto_ok"
%fieldset#emp
  %legend.leg_emp Employers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.candidates
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.match
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.emp_time
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.privacy    
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
%fieldset#job
  %legend.leg_job Job Seekers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.jobs
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.like_you
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.job_time
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite_job_emp.resume
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
#rekl_m.hidden-sm.hidden-xs
  #rekl
    #rekl_top
      .rekl_text
        We show you only the information you need to decide if a position or candidate is right for you
      .sprite_iphone.iphone_l
    #rekl_butom
      .sprite_iphone.iphone_r
      .rekl_text
        If an applicant and employer both select each other, the applicants resume is sent to the hiring managers email

