#sing_m
  #sing
    .sprite2.iphone.hidden-sm.hidden-xs
    #pol.col-xs-12.col-md-8
      %p
        Sign Up now and view hundreds of jobs in minutes for free!
      = button_to 'Applicant', "#", :id => "buto", :style => "background-color: #F17420;"
      %b or
      = button_to 'Employer', "#", :id => "buto", :style => "background-color: rgb(52, 173, 241);"
      = email_field_tag "description", "", :placeholder => "email@example.com", :class => 'my_lab'
      = password_field_tag "description", "", :placeholder => "password", :class => 'my_lab'
      = password_field_tag "description", "", :placeholder => "repyte password", :class => 'my_lab'
      = button_to 'Sing up', "#", :id => "buto", :style => "background-color: #F17420; margin-left: 207px;"
%fieldset#emp
  %legend Employers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.candidates
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.match
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.emp_time
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.privacy    
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
%fieldset#job
  %legend Job Seekers
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.jobs
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.like_you
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.job_time
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
  #emp_link.col-xs-6.col-md-3
    %a{:href => "#"}
      .sprite.resume
    %br
    %br
    %b.name_blu
      %center Browse Candidates
    %br
    %b
      %center Browse and select candidates hunderson on filteder job aplicants on minutes
#rekl_m.hidden-sm.hidden-xs
  #rekl
    #rekl_top
      .rekl_text
        We show you only the information you need to decide if a position or candidate is right for you
      .sprite2.iphone1
    #rekl_butom
      .sprite2.iphone2
      .rekl_text
        If an applicant and employer both select each other, the applicants resume is sent to the hiring managers email

