#foot_m
  #foot
    #menu_footer
      = link_to 'Contact', '#', {:class => "menu_foot"}
      = link_to 'Terms', '#', {:class => "menu_foot"}
      = link_to 'Privacy', '#', {:class => "menu_foot"}
    #emb_soc
      = link_to image_tag("facebook.png"), '#'
      = link_to image_tag("twiter.png"), '#'
      = link_to image_tag("instagram.png"), '#'
      